<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/taxi_moto_carrito.webp">
    <link rel="stylesheet" href="/css/styles.css">
</head>
 
<body>
    <div class="main-content"></div>
        {{>header}}
        <img class="portrait other" src="/img/gatos.jpg">
        <p>Este es el mensaje de prueba</p>
    
    </div>
        
    {{>footer}}
</body>

</html>

