	<!DOCTYPE>

	<html>
 
	<head>
	    <title>Index to weathert</title>
	    <link rel="icon" href="/img/totaxi.webp">
	    <link rel="stylesheet" href="/css/styles.css">
	    <script src="/js/app.js"></script>
	</head>

	<body>
	    <div class="main-content">
	        {{>header}}

	        <p>Use tis site to get your weather!</p>
	    </div>

	    {{>footer}}
 
	</body>


	</html>


